{% extends 'layout.html' %}
{% block additional_links %} 
    <link rel="stylesheet" href="{{ url_for('profile.static', filename='css/credentials.css') }}">
{% endblock %}
{% block page_content %}
    <form action="" method="post" id="contact-form">
        <h3>Контактні дані</h3>
        <div class="form-rows-container">
            <div class="form-row">
                <p>Прізвище</p>
                <input placeholder="Ваше Прізвище" type="text" name="second_name" value="{{ crd.second_name if crd and crd.second_name else '' }}">
            </div>
            <div class="form-row">
                <p>Ім'я</p>
                <input placeholder="Ваше Ім'я" type="text" name="first_name" value="{{ crd.first_name if crd and crd.first_name else '' }}">
            </div>
            <div class="form-row">
                <p>По батькові</p>
                <input placeholder="По батькові" type="text" name="father_name" value="{{ crd.father_name if crd and crd.father_name else '' }}">
            </div>
            <div class="form-row">
                <p>Дата народження</p>
                <input type="date" name="birth_date" value="{{ crd.birth_date if crd and crd.birth_date else '' }}">
            </div>
            <div class="form-row">
                <p>Телефон</p>
                <input placeholder="+ 38 0" type="text" name="phone_number" value="{{ crd.phone_number if crd and crd.phone_number else '' }}">
            </div>
            <div class="form-row">
                <p>E-mail</p>
                <input placeholder="Ваш E-mail" type="email" name="email" value="{{ crd.email if crd and crd.email else current_user.email }}" required>
                <p class="error-msg hidden-error-msg">Неправильний формат електронної пошти</p>
            </div>
        </div>
        <button type="submit" class="not-allowed-to-submit" disabled>ЗБЕРЕГТИ ЗМІНИ</button>
    </form>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/imask"></script>
    <script src="{{ url_for('profile.static', filename='js/contact_form.js') }}"></script>
{% endblock %}