.layout form {
    flex-grow: 1;
}

.choose-block-header-block {
    gap: 24px;
}

.circle-status {
    width: 16px;
    height: 16px;
    background-color: #CED0D4;
    border-radius: 8px;
    flex-shrink: 0;
}

.completed-circle {
    background-color: #4DBC4B;
}

.canceled-circle {
    background-color: #B62D11;
}

.data-block {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.in-row {
    flex-direction: row;
}

.span-caption {
    font-size: 14px;
    color: #9EA0AA;
}

.min-width {
    min-width: 164px;
}

.layout .form-rows-container {
    flex-direction: column-reverse;
    overflow: hidden;
}

.form-rows-container .choose-block p, span {
    font-size: 14px;
    font-weight: 400;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.rotate {
    transform: rotate(180deg);
}

.product-info {
    display: flex;
    gap: 19px;
}
 
.left-block, .right-block {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left-block {
    width: 33%;
}

.right-block {
    width: 62%;
}

.product-line {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-line span, .price-container, .header-title span {
    width: 76px;
    font-size: 12px;
    text-align: center;
}

.header-title {
    display: flex;
    justify-content: space-between;
}

.header-title span:first-child {
    width: 50px;
}

.header-title span {
    color: #6D717F;
}

.products-container {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
}

.product-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.line-through {
    text-decoration: line-through;
}

.vertical-line {
    width: 1.5px;
    background-color: #CED0D4;
}

.service-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-data span {
    min-width: 100px;
}

.right-block button {
    background-color: white;
    font-weight: 500;
    transition: all 0.25s ease;
}

.right-block button:hover {
    background-color: #0C122A;
    color: white;
}

@media (max-width: 1450px) {
    .choose-block-header-block img {
        display: none;
    }
}

@media (max-width: 1200px) {
    .layout {
        gap: 10%;
    }
    
    .min-width {
        min-width: 120px;
    }

    .product-info {
        flex-direction: column;
    }

    .left-block {
        width: 40%;
    }

    .right-block {
        width: 100%;
    }

    .vertical-line {
        width: 100%;
        height: 1.5px;
    }
}

@media (max-width: 1020px) {
    .choose-block-header-block img {
        display: block;
    }

    .min-width {
        min-width: 164px;
    }

    .product-info {
        flex-direction: row;
    }

    .left-block {
        width: 33%;
    }

    .right-block {
        width: 62%;
    }

    .vertical-line {
        width: 1.5px;
        height: auto;
    }
}

@media (max-width: 950px) {
    .choose-block-header-block img {
        display: none;
    }
}

@media (max-width: 780px) {
    .layout {
        gap: 10%;
    }
    
    .min-width {
        min-width: 120px;
    }

    .product-info {
        flex-direction: column;
    }

    .left-block {
        width: 50%;
    }

    .right-block {
        width: 90%;
    }

    .vertical-line {
        width: 90%;
        height: 1.5px;
    }
}

@media (max-width: 600px) {
    .choose-block-header-block p, .choose-block-header-block span{
        font-size: 12px !important;
    }

    .choose-block-header-block .min-width {
        min-width: 60px;
    }

    .choose-block-header-block {
        gap: 18px;
    }

    .open-body {
        width: 20px;
        height: 20px;
    }

    .circle-status {
        width: 12px;
        height: 12px;
    }

    .choose-block {
        padding: 10px 10px;
    }
}

@media (max-width: 520px) {
    .left-block {
        width: 70%;
    }

    .right-block, .vertical-line {
        width: 100%;
    }

    .step .span-caption {
        font-size: 12px;
    }
}


@media (max-width: 400px) {
    .choose-block-header-block {
        gap: 14px;
    }

    .product-line {
        height: 60px;
    }

    .product-line span, .header-title span {
        width: 60px;
    }

    .products-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 120px;
    }

    .header-title {
        padding-bottom: 10px;
    }
}