{% extends 'order_base.html' %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('order.static', filename='css/order_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('order.static', filename='css/success.css') }}">
{% endblock %}
{% block content %}
    <div class="content">
        <h1>ПОМИЛКА</h1>
        <p> {{ msg }} <br> {{ 'Поверніться до каталогу та оберіть щось з наших пропозицій.' if not msg2 else msg2 }}</p>
        {% if msg2 %}
            <a href="/" class="button2 big-padding">ПОВЕРНУТИСЬ НА ГОЛОВНУ</a>
        {% else %}
            <a href="/catalog" class="button2 big-padding">ПОВЕРНУТИСЬ ДО КАТАЛОГУ</a>
        {% endif %}
    </div>
{% endblock %}
 {% block scripts %}
    <script src="{{ url_for('order.static', filename='js/nova_poshta.js') }}"></script>
    <script src="{{ url_for('order.static', filename='js/single_product_editing.js') }}"></script>
 {% endblock  %}