header {
    background-color: white;
    height: auto;
    flex-shrink: 1;
    min-height: 74px;
}

.products-wrapper {
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.catalog-filter {
    /* width: 100%; */
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
    align-self: flex-start;
}

.filter-criteria {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #E7E7EA;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0C122A;
    font-size: 20px;
    font-weight: 400;
    transition: transform 0.25s ease;
}

.filter-criteria img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.products-wrapper .selected-criteria, .products-wrapper .selected-page {
    background-color: #F4F4F4;
}

.filter-criteria:hover {
    transform: scale(1.1);
}

.products-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    flex-shrink: 2;
    flex-grow: 0;
    flex-wrap: wrap;
    gap: 24px;
    min-height: 363px;
}

.catalog-pagination {
    display: flex;
    justify-content: flex-end;
    /* width: 100%; */
    align-self: flex-end;
    gap: 6px;
    margin-top: 44px;
}

.pagination-btn {
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-clickable path {
    fill: #9EA0AA;
}

@media (max-width: 770px) {
    .pagination-btn {
        width: 35px;
        height: 35px;
    }
    
    .catalog-pagination {
        gap: 4px;
        align-self: center;
    }
}

@media (max-width: 480px) {
    .pagination-btn {
        width: 28px;
        height: 28px;
    }
}
