.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 322px;
    height: 363px;
    border-radius: 20px;
    padding: 14px;
    box-sizing: border-box;
    position: relative;
}

.product p {
    margin: 0;
    color: #0C122A;
    font-size: 14px;
}

.product-image-container{
    width: 294px;
    height: 223px;
    flex-shrink: 0;
    align-self: center;
}

.product-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    height: 86px;
    justify-content: space-between;   
}

.product .product-name {
    width: 240px;
    font-size: 24px;
}

.discount {
    text-decoration: line-through;
}

.new-price {
    margin-left: 15px;
    color: red;
}

.product .to-cart, .product .change-product {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #0C122A;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    right: 14px;
    z-index: 3;
    transition: all 0.25s ease;
}

.product .to-cart.extra-bottom {
    bottom: 35px;
}

.product .change-product {
    bottom: 95px;
}

.product:hover {
    background-color: #F4F4F4;
}

.product:hover .to-cart, .product:hover .change-product{
    display: flex;
}

.product .to-cart:hover, .product .change-product:hover {
    background-color: #0C122A;
}

.product .to-cart:hover path {
    fill: white;
}

.product .change-product:hover path {
    stroke: white;
}