.buy-block {
    position: fixed;
    right: 3vw;
    bottom: 11vh;
    z-index: 4;
    width: 232px;
    height: 164px;
    background-color: white;
    border-radius: 10px;
    padding: 16px 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 18px 40px rgba(17,24,39,0.08);
}

.content {
     display: flex;
     gap: 8px;
}

.content p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.img-container {
    width: 50px;
    height: 50px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    width: 146px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.discount {
    text-decoration: line-through;
}

.new-price {
    color: #B62D11;
    margin-left: 15px;
}

.btns-line {
    display: flex;
    gap: 16px;
}

.to-cart {
    width: 44px;
    height: 44px;
    border: 2px solid #0C122A;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-make-order-btn {
    width: fit-content;
    background-color: #0C122A;
    color: white;
    border-radius: 100px;
    padding: 12px 16px;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
}

.content-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.similiar-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.view-all-btn, .add-new-section, .change-section, .add-statistic, .change-statistic {
    width: fit-content;
    align-self: center;
    font-size: 14px;
    color: white;
    background-color: #0C122A;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.5px;
    padding: 18px 40px;
    border-radius: 100px;
    box-sizing: border-box;
    border: 2px solid #0C122A;
    transition: all 0.25s ease;
}

.view-all-btn svg {
    margin-left: 16px;
}

.view-all-btn:hover, .add-new-section:hover, .change-statistic:hover {
    background-color: white;
    color: #0C122A;
}

.view-all-btn:hover path {
    fill: #0C122A;
}

.file-upload-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.file-upload-wrapper #file-name {
    margin-top: 8px;
    font-size: 16px;
}

.text-editor-btns  {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.text-editor-btns button {
    background-color: white;
    padding: 5px 10px;
    border: 1.5px solid #0C122A;
    border-radius: 100px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .buy-block {
        bottom: 4vh;
    }
}

@media (max-width: 550px) {
    .buy-block {
        width: 180px;
        height: 150px;
    }

    .content p, .card-make-order-btn  {
        font-size: 12px;
    }

    .info {
        width: 90px;
        gap: 6px;
    }

    .info .product-price-discount {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        align-self: center;
    }

    .info .new-price {
        margin: 0;
    }

    .card-make-order-btn {
        padding: 10px 12px;
    }

    .card-make-order-btn svg  {
        display: none;
    }

    .btns-line {
        justify-content: space-between;
    }

    .to-cart {
        height: 38px;
        width: 38px;
    }
}