.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 46%;
}

.text-container h2 {
    margin: 0;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
}

.text-container p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.media-container {
    width: 46vw;
    aspect-ratio: 16 / 11;
    /* height: 31vw; */
}

.center .media-container {
    width: 70vw;
    /* height: 38vw; */
    aspect-ratio: 16 / 8;
}

.media-container video, .media-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.section.center {
    flex-direction: column;
    gap: 44px;
}

.section.center .text-container {
    width: 50%;
    text-align: center;
    gap: 24px;
}

.section.left {
    flex-direction: row-reverse;
}

.section-statistic-container {
    display: flex;
    align-items: center;
    gap: 16vw;
}

.section-statistic-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.section-statistic-block span {
    text-align: center;
}

.section-statistic-main, .section-statistic-big {
    color: #6D717F;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    text-transform: uppercase;
    white-space: nowrap;
}

.section-statistic-big {
    font-size: 44px;
    font-weight: 700;
}

.section-btns-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.add-statistic {
    background-color: white;
    color: #0C122A;
}

@media (max-width: 1000px) {
    .section.left, .section.right {
        flex-direction: column ;
        gap: 44px ;
    }

    .content-container .section .text-container {
        text-align: center;
        gap: 24px;
        width: 65%;
    }

    .content-container .section .media-container {
        width: 70vw;
        aspect-ratio: 16 / 8;
    }

    .section-statistic-container {
        gap: 12vw;
    }

    .section-statistic-big {
        font-size: 36px;
    }
}

@media (max-width: 880px) {
    .text-container h2 {
        font-size: 36px;
    }
}

@media (max-width: 780px) {
    .text-container h2, .section-statistic-block .section-statistic-big {
        font-size: 32px;
    }

    .content-container .section .text-container {
        width: 75%;
    }

    .content-container {
        gap: 100px;
    }

    .section-statistic-container {
        gap: 10vw;
    }

    .section-statistic-block span {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .text-container h2, .section-statistic-block .section-statistic-big {
        font-size: 30px;
    }

    .content-container .section .text-container {
        width: 85%;
    }

    .content-container {
        margin-top: 0;
    }

    .section-statistic-container {
        gap: 8vw;
    }

    .section-btns-container {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .section-statistic-big {
        white-space: normal;
    }
    .section-statistic-main{
        white-space: normal;
        width: 110px;
    }

    .section-statistic-block span {
        font-size: 12px;
    }

    .section-statistic-block .section-statistic-big {
        font-size: 26px;
    }

    .section-statistic-container {
        gap: 6vw;
    }
} 


@media (max-width: 500px) {
    .content-container .section .text-container {
        width: 90%;
    }
    .content-container .section .media-container {
        width: 80vw;
        aspect-ratio: 16 / 8;
    }
}

@media (max-width: 450px) {
    .text-container h2 {
        font-size: 26px;
    }

    .section-statistic-main{
        width: 90px;
    }

    .content-container .section .text-container {
        width: 95%;
    }
}