{% extends 'base.html' %}
{% block links %} 
    <link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/catalog.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/product_item.css') }}"> 
{% endblock %}
{% block content %}
    <h2 class="section-header page-header">КАТАЛОГ</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="name" required placeholder="Назва">
        <input type="number" name="price" required placeholder="Ціна">
        <input type="number" name="discount" required placeholder="Знижка">
        <input type="file" name="image" id="" accept="image/*">
        <textarea name="summary" id="" placeholder="Короткий опис"></textarea>
        <button>Додати</button>
    </form>
    <!-- <form action="/add_section" method="post" enctype="multipart/form-data">
        <input type="text" required name="title" placeholder="Заголовок секції">
        <textarea name="section_text" id="" placeholder="Текст секції" required></textarea>
        <input type="file" name="image" id="" accept="image/*">  
        <input type="file" name="video" id="" accept="video/*">
        <label for="">Розтташування новини</label>
        <select name="position" id="" required>
            <option value="center">По центру</option>
            <option value="left">Ліворуч</option>
            <option value="right">Праворуч</option>
        </select>
        {% if products %}
        <label for="">Товар</label>
            <select name="product_id" id="">
                {% for product in products %}
                    <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        {% endif %} 
        <div style="display: flex; justify-content: center; gap: 20px;">
            <button id="block-btn" type="button">block</button>
            <button id="first-line-btn" type="button">first line</button>
            <button id="second-line-btn" type="button">second line</button>
            <button id="big-text-btn" type="button">big text</button>
        </div>
        <textarea name="statistic" id="edit-textarea"></textarea>
        <button>Додати</button>
    </form> -->
    <div class="products-wrapper">
        <div class="catalog-filter">
            <button href="" class="filter-criteria selected-criteria cursor-pointer" id="all">Всі</button>
            <button href="" class="filter-criteria cursor-pointer" id="drone">
                <img src="{{ url_for('catalog.static', filename='/images/filters/drone.png') }}" alt="">
            </button>
            <button href="" class="filter-criteria cursor-pointer" id="thermal_imager">
                <img src="{{ url_for('catalog.static', filename='/images/filters/thermal_imager.png') }}" alt="">
            </button>
        </div>
        <div class="products-container" id="products-container"></div>
        <div class="catalog-pagination hide-element" id="catalog-pagination"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('catalog.static', filename='js/render_catalog_elements.js') }}"></script>
    <script src="{{ url_for('catalog.static', filename='js/pagination.js') }}"></script>
    <script src="{{ url_for('catalog.static', filename='js/filter.js') }}"></script>
    <script src="{{ url_for('catalog.static', filename='js/text_editor.js') }}"></script>
{% endblock  %}