@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Light.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Light.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-Bold.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/GTWalsheimPro-UltraBold.woff2") format("woff2"),
    url("../fonts/GTWalsheimPro-UltraBold.woff") format("woff");
  font-weight: 800;
}

html {
    /* height: 100%; */
    overflow-x: hidden;
}

body {
  /* background-color: #CDD5DD; */
  display: flex;
  flex-direction: column;
  font-family: "GT Walsheim Pro";
  color: rgb(12, 18, 42);
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #9ea0aa;
  font-weight: 500;
}

.nav-link:hover {
  color: #0c122a;
  transition: color 0.25s ease;
}

main {
  z-index: 3;
  flex: 1 0 auto;
  /* min-height: 100vh; */
  background-color: white;
  margin: 0 40px;
}

footer {
  height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #cdd5dd;
  padding: 87px 0 0 0;
  flex-shrink: 0;
  justify-content: flex-end;
  overflow-x: hidden;
}

.statistic-line {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 20%;
  justify-content: center;
  width: 56%;
  margin: 10vh 0 10vh 0;
  flex-grow: 1;
}

.statistic-block {
  text-align: center;
  z-index: 4;
}

.statistic-value {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
}

.statistic-caption {
  white-space: nowrap;
  margin: 5vh 0 0 0;
}

.big-text {
  display: block;
  width: 1000px;
  height: 22vh;
}

.footer-nav {
  margin: 16vh 0 16vh 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}

.footer-copyright {
  box-sizing: border-box;
  border-top: 1px solid rgb(244, 244, 244);
  padding: 3vh 0 7vh 0;
  margin: 0;
  width: 90%;
  text-align: center;
  color: #9ea0aa;
}

.ellipse-big {
  width: 123vw;
  min-width: 1200px;
  height: 835px;
  background-color: white;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
}

.pos2 {
  bottom: -70%;
}

.section-header {
  margin: 0;
  text-align: center;
  font-size: 44px;
  color: #cdd5dd;
  font-weight: 800;
}


@media (max-width: 1000px) {
  .statistic-line {
    flex-direction: column;
    margin: 0 0 2vh 0;
    gap: 2vh;
    justify-content: space-around;
    align-items: center;
  }

  .statistic-caption {
    margin-top: 2vh;
  }

  .pos2 {
    bottom: -5%;
  }

  .big-text {
    width: 600px;
    height: 14vh;
  }

  .footer-nav {
    margin: 10vh 0 10vh 0;
  }
}

.page-header {
    margin-top: 57px;
}

@media (max-width: 700px) {
  .big-text {
    width: 440px;
  }

  .pos2 {
    bottom: -10%;
  }
}

@media (max-width: 480px) {
  .footer-nav {
    gap: 16px;
  }

  .big-text {
    width: 343px;
  }

  .footer-copyright {
    padding-bottom: 3vh;
  }

  .section-header {
    font-size: 36px;
  }

  .page-header {
    margin-top: 36px;
  }

  main {
    margin: 0 15px;
  }

}
