input:not([type="radio"]), textarea {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 16px;
  color: #0C122A;
  font-family: "GT Walsheim Pro";
} 

textarea {
    height: 99px;
    padding: 10px 16px;
    resize: vertical;
}

textarea::placeholder {
    font-size: 16px;
    font-family: "GT Walsheim Pro";
}

input[type="radio"] {
  flex-shrink: 0;
  appearance: none; 
  width: 20px;
  height: 20px;
  border: 1px solid #E7E7EA;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.25s ease;
}

input[type="radio"]:checked {
  border-color: #0C122A;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0C122A;
}