.order-products-container { 
    width: 46%;
    border: 1px solid #CED0D4;
    border-radius: 10px;
    padding: 16px 24px;
    box-sizing: border-box;
    height: fit-content;
    position: fixed;
    right: 40px;
    background-color: white;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.products-header p {
    font-size: 20px;
    font-weight: 700;
}

.products-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.items-container {
    height: 224px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.item-container {
    display: flex;
    justify-content: space-between;
    height: 102px;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
}

.item-info {
    display: flex;
    align-items: flex-start;
    gap: 26px;
}

.item-info .image-container {
    width: 108px;
    height: 86px;
    flex-shrink: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-price {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.name-price .name {
    font-size: 20px;
    font-weight: 500;
}

.name-price .price {
    font-size: 14px;
    font-weight: 500;
}

.line-through {
    text-decoration: line-through;
    font-weight: 500;
}

.red-color {
    color: #B62D11;
    padding-left: 16px;
    font-weight: 500;
}

.quantity {
    font-size: 24px;
    color: #6D717F;
}

.quantity-black {
    color: #0C122A;
}

.quantity-section {
    width: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #E7E7EA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: white;
}

.disable {
    color: #E7E7EA;
}

.products-content .button2 {
    align-self: flex-end;
}

.items-container::-webkit-scrollbar {
    width: 7px;
}

.items-container::-webkit-scrollbar-thumb {
    width: 7px;
    height: 57px;
    background-color: #3D4155;
    border-radius: 6px;
}

.items-container::-webkit-scrollbar-track {
    background-color: #CDD5DD;
    border-radius: 6px;
}

.total-price {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total-price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.savings {
    color: #9EA0AA;
    font-weight: 500;
}

.final-price {
    font-size: 20px;
    padding: 0;
    font-weight: 500;
}

@media (max-width: 1050px) {
    .order-products-container {
        position: static;
        width: 80%;
    }
}

@media (max-width: 800px) {
    .order-products-container {
        width: 100%;
    }
}

@media (max-width: 620px) {
    .name-price {
        max-width: 200px;
    }

    .name-price .name {
        font-size: 16px;
    }
}

@media (max-width: 560px) {
    .section-btn {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .quantity {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .item-info {
        flex-direction: column;
        gap: 15px;
    }

    .item-container {
        height: fit-content;
    }
    
    .item-container:not(.item-container[id="single-product"]) .quantity {        
        padding-right: 40px;
    }

    .name-price {
        gap: 10px;
        max-width: 170px;
    }

    .total-price p {
        font-size: 14px;
    }

    .final-price {
        font-size: 18px;
    }

    #make-order-btn {
        align-self: center;
    }
}